/* .reviewForm {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  padding: 40%;
  border: 100% vh;
  background: grey;
} */

/* .reviewFormCharacteristics {
} */
/*
.reviewForm {
  display: flex;
  justify-content: center;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: auto;
  margin-top: 25vh;
  background: white;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid grey;
  overflow: auto;
} */

.reviewStarRating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.reviewStarRating > span:hover:before,
.reviewStarRating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}