.averages {
  padding: 20px;
  background-color: rgb(240, 240, 240);
}

.averageTitle {
  text-shadow: 1px 1px rgb(220, 220, 220);
  color: rgb(60, 60, 60);
  padding-bottom: 10px;
}

.averageRating {
  display: inline;
  color: red;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(220, 220, 220);
}

.averageStarsFill {
  display: inline;
}

.averageStar {
  text-shadow: 1px 1px rgb(220, 220, 220);
  font-size: x-large;
  color: red;
  position: relative;
  display: inline;
  left: 13px;
  top: -13px;
}

.starNumbers {
  text-shadow: 1px 1px rgb(220, 220, 220);
  color: rgb(60, 60, 60);
  text-decoration: underline;
  padding: 5px;
}

.percentageRecommended {
  font-size: small;
  text-shadow: 1px 1px rgb(220, 220, 220);
  color: rgb(60, 60, 60);
  padding-top: 10px;
  padding-bottom: 10px;
}

.characteristics {
  text-shadow: 1px 0px rgb(220, 220, 220);
  color: rgb(60, 60, 60);
  padding-top: 10px;
  padding-bottom: 10px;
}